.logo {
  width: 100px;
}
.search {
  border: 2px solid green !important;
  border-radius: 3px;
  text-decoration: none !important;
}
.search-field {
  width: 500px !important;
  outline: 0;
}
.dropdown {
  width: 100px !important;
  background-color: rgb(1, 114, 5);
}

footer {
  background-color: black !important;
}
a {
  text-decoration: none;
  color: white;
}
