.logo {
  width: 100px;
}
.search {
  border: 2px solid green !important;
  border-radius: 3px;
  text-decoration: none !important;
}
.search-field {
  width: 500px !important;
  outline: 0;
}
.dropdown {
  width: 100px !important;
  background-color: rgb(1, 114, 5);
}
.link {
  text-decoration: none; /* Remove underline */
  color: inherit; /* Inherit color from parent */
}

/* banner */
.dropdown:hover .dropdown-menu {
  display: block;
}

.banner {
  height: 400px;
}

li {
  display: flex;
  align-items: center;
}

li:hover {
  background-color: rgb(5, 178, 14);
}

.slick-prev,
.slick-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: #fff;
}

.slick-prev {
  left: 10px;
  background-color: green;
}

.slick-next {
  right: 10px;
  background-color: green;
}

/* category */

.offer-img {
  width: 350px !important;
  border-radius: 10px;
  transition: transform 1s ease;
}

.offer-img:hover {
  transform: scale(1.01);
}

.category-img {
  width: 80px;
  margin: 0 auto;
}

.hot-img {
  width: 70%;

  margin: 12px auto 0 auto;
}
.add-button {
  height: 40px;
  animation: bottomToTop 2s ease forwards;
}
.add-to-cart-btn {
  display: none;
  transition: transform 0.3s ease-in-out;
}
.price {
  display: none;
}

@keyframes bottomToTop {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.slick-product-prev {
  position: absolute;
  top: 50%;
  left: 0px;
  transform: translateY(-50%);
  z-index: 1;
}

.slick-product-next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}

.slick-product-prev {
  width: 40px;
  height: 40px;
  right: 10px;
  color: black;
  border: 0;
  border-radius: 50%;
  background-color: gainsboro;
}
.slick-product-next {
  width: 40px;
  height: 40px;
  right: 10px;
  color: black;
  border: 0;
  border-radius: 50%;
  background-color: gainsboro;
}
.slick-product-prev:hover,
.slick-product-next:hover {
  color: white;
  background-color: green;
}
/* footer */
footer {
  background-color: black !important;
}
a {
  text-decoration: none;
  color: white;
}
